#main-window {
    width: 60vw;
    margin-top: 20vh;
    margin-left: auto;
    margin-right: auto;
}

.window-content {
    padding-right: 10px;
    padding-top: 6px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.bg-window {
    width: 55px;
    height: 55px;
    margin: auto;
}

.gif-display {
    background-image: url('../img/starfield2.gif');
    background-size: cover;
    width: 100%;
    height: 200px;
}

body {
    background: url('../img/ARCHES.BMP')
}